@font-face { font-family: "Computer Modern"; font-weight: normal; font-display: fallback; src: url("/fonts/cmunrm.otf"); }
@font-face { font-family: "Computer Modern"; font-weight: bold; font-display: fallback; src: url("/fonts/cmunbx.otf"); }
@font-face { font-family: "Computer Modern"; font-style: italic; font-weight: normal; font-display: fallback; src: url("/fonts/cmunti.otf"); }
@font-face { font-family: "Computer Modern Typewriter"; font-weight: normal; font-display: fallback; src: url("/fonts/cmuntt.otf"); }
/* 
  @font-face {
    font-family: "Computer Modern";
    font-style: italic;
    font-weight: bold;
    font-display: fallback;
    src: url("/fonts/cmunbi.otf");
  }

  @font-face {
    font-family: "Computer Modern Typewriter";
    font-weight: bold;
    font-display: fallback;
    src: url("/fonts/cmuntb.otf");
  }
  /@font-face {
    font-family: "Computer Modern Typewriter";
    font-style: italic;
    font-weight: normal;
    font-display: fallback;
    src: url("/fonts/cmunit.otf");
  }
  @font-face {
    font-family: "Computer Modern Typewriter";
    font-style: italic;
    font-weight: bold;
    font-display: fallback;
    src: url("/fonts/cmuntx.otf");
  } */
  