:root {
  --black: #000;
  --red: #C5004A;
  --darkred: #7F0036;
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
  --back: #FAF9F6;
  --coolblue: #180cef;/*#007aff;*/ 
  --src-code: rgba(0,0,0, 0.07);
  --bg: rgb(255 251 235); /* rgb(246, 245, 233); */
  --font-: #000;
  --link: #060cff;
}

@media only screen and (min-device-width: 414px) {
  .postlist-date { display: none; }
}

@media only screen and (min-width: 768px) {
  .center {
    margin: auto;
    width: 80%;
    padding: 10px;
  }
}

@media only screen and (min-width: 960px) {
  .center {
    margin: 0 auto 10px auto;
    padding: 10px;
    width: 700px;
  }
  .postlist-date { display: inline-block; }
}

.post-line {
  border-top: .4rem solid var(--darkgray);
  display: block;
  width: 4rem;
  margin-bottom: 20px;
}

* { box-sizing: border-box; }

html,
body {
  padding: 0;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
/*  background-color: var(--bg);*/
/*   background-color: rgb(246, 245, 233);
  background-image: linear-gradient(to right bottom, rgb(246, 245, 233), rgb(250, 248, 250));
 background-image: linear-gradient(to right bottom, rgb(246, 245, 233), rgb(250, 248, 250));
color: rgb(63, 63, 70);
 */
  
background-color:  #f7f6dd;
 color: #0d0e2f;

  
  display: block;
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
  font-size: 1rem;
}

.purple-text { 
  /*color: #5500ff !important; color: #007aff !important; */
  color: #180cef !important;
 }
.small-text {
  font-size: 12px !important;
}

.dt-published {
  color: rgb(115 115 115);
  color: #777777;
  font-size: 12px;
  padding-top: 10px;
}

h1, h2, h3, h4 { 
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
  margin: 0;
  color: rgb(24, 24, 27);
}

strong {
  color: rgb(24, 24, 27);
}

h1 {
  font-weight: 800;
  padding-top: 16px;
  font-size: 24px;
}

h2 {
  font-size: 18px;
  font-size: 1rem;
  font-weight: 800;
}

h2.sub {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: rgb(113, 113, 122);
  /* margin-bottom: 36px; */
  /* margin-bottom: 24px; */
  margin-top: 24px;
}

h4 { font-size: 16px; }

time {
  
}

ul li { 
  margin-top: 0.6em
}

p {
  line-height: 1.625;
}

p:last-child {
  margin-bottom: 0;
}

p,
.tmpl-post li,
img {
  max-width: 42em; 
  /* 600px /16 */
}

.hp p {
  max-width: none;
}

p, .tmpl-post li {
  line-height: 1.5;
  padding-bottom: 3px;
  font-weight: 500;
}

a[href] {
  color: var(--blue);
}

a[href]:visited {
  color: var(--navy);
}

main {
  padding: 10px;
}

main :first-child {
  
}

header {
  padding-left: 10px;
}

header:after {
  content: "";
  display: table;
  clear: both;
}

table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: monospace;
  line-height: 1.5;
  font-size: 1rem;
  background-color: var(--src-code);
}

/* pre > code[class*="language-"] {
  font-size: 1rem;
} */

code {
  padding: 2px 6px;
  border-radius: 5px;
}

pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  background-color: #f6f6f6;
}

.text-center { text-align: center; }

.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */

.postlist-item a {
  text-decoration: none;
}

.postlist-item {
  margin: 5px 0;
}

.home {
  padding: 0 1rem;
  margin: 1rem 0; 
  font-size: 2em; 
} 
.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin: 0;
  width: 100%;
}

li.nav-item {
  margin-top: 0px;
}

.nav-item {
  display: inline-block;
  font-size: 1rem;
  /* padding-right: 20px; */
}
/* .nav-item a:hover {
  background-color: #fffb99;
} */

.nav-item a[href]:not(:hover) {
  text-decoration: none;
}

ul li.nav-item-active a {
  /* border-bottom: 1px solid #17050F */
}
.nav-item a:hover{
  text-decoration: none;
}

.nav-item a {
  line-height: 1.75;
  font-size: 1rem;
}

/* .nav li + li::before {
  content: " / ";
  margin-right: 0px;

  line-height: 1;
  font-size: 1rem;
}  */

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  counter-increment: start-from -1;
  line-height: 1.2rem;
}

.postlist-date {
  font-size: 0.9em; /* 13px /16 */
  color: var(--darkgray);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em; /* 4px 3px /16 */
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}

.tmpl-home {
  padding: 3em 10px;
}

.tmpl-home .postlist-link {
  font-size: 1rem; /* 19px /16 */
  font-weight: 500;
  display: inline;
}

/* Tags */
.tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 4px;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--red);
  color: var(--white);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}
a[href].tag,
a[href].tag:visited {
  color: #fff;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}

.tmpl-post a[href], .social a[href] {
  border-bottom: 1px solid var(--coolblue);
  color: var(--coolblue);
  text-decoration: none;
}

.tmpl-post a.direct-link, .social a.direct-link {
  border-bottom: none;
}

a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

.disqus_thread { padding: 15px }

.blinking {
  display: inline-block;
  width: 10px;
  height: 1rem;
  background: #bd93f9;
  margin-left: 5px;
  border-radius: 1px;
  animation: cursor 1s infinite;
}

@keyframes cursor { 0% { opacity:0 } 50% { opacity:1 } 100% { opacity:0 }}
ol .toc { margin-bottom: 0; }

.gradient-1 {
  background-image: linear-gradient(90deg, rgb(97, 137, 222) 0%, 25.8169949055%, rgb(126, 118, 212) 51.6339898109%, 75.8169949055%, rgb(156, 92, 191) 100%);
}

.text-clip {
  background-clip: text !important;
  -webkit-background-clip: text !important; 
  -webkit-box-decoration-break: clone !important; box-decoration-break: clone !important; color: transparent !important; 
}

.font-extra-bold {font-weight: 800; }

.contact-me { border: 1px solid; padding: 8px; border-radius: 4px; font-style: normal; text-decoration: none; }
h2.hl {
  /* color: #333; */
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-size: .9rem;
  margin-bottom: 0;
  font-family: sans-serif;
  font-weight: bold;
}

.pt-30 { padding-top: 30px; }

.post-line {
  border-top: 0.4rem solid #353535;
  display: block;
  margin: 0 auto 3rem;
  width: 4rem;
}

.glow:before, .glow:after {
  height: 6px;
/*  -webkit-filter: blur(5px);*/
  border-radius: 5px;
}
.glow:before {
  background: linear-gradient(to right, #0d0e2f, #0d0e2f);
}
.glow:after {
  background: linear-gradient(to left, #0d0e2f, #0d0e2f);
}

.divider {
  display: flex;
  font-size: 12px;
}
.divider:before, .divider:after {
  content: "";
  flex: 1;
}

.line {
  align-items: center;
  margin: 1em -1em;
}
.line:before, .line:after {
  height: 1px;
  margin: 0 1em;
}




