---
layout: layouts/home.njk
tags:
  - nav
navtitle: About
permalink: /about/
date: 2018-01-01
---

<section class="pa3 pa4-ns lh-copy">
  <article>
    <p class="">Hello, my name is Vladimir Stankovic, but I commonly use hande svlada.</p>

    <p class="measure-wide">My current role finds me at <a href="http://codereflect.io" target="_blank">Reflect</a>, where, I build software specifically tailored for businesses and startups in the finance industry. Much of my work focuses on simplifying these systems, which frequently become more complex as they develop over time.</p>

    <p class="measure-wide">I learned to value simplicity. Organising the data and code in a way that promises the functionality and maintainability of the system requires a significant amount of time. Businesses might get this, but they don't always.</p>

    <p class="measure-wide">Loving the shift towards open sourcing tooling for data engineering tasks. I allocate a portion of my time to utilising tools such as Airflow and DBT for the purpose of orchestrating and executing data transformations.</p>

    <p class="measure-wide">Over the years, I did consuting work for companies like FIS Global and Deloitte. These collaborations shaped my perspective about enterprise environments and their inner workings.</p>

    <p class="measure-wide">My journey, however, began in healthcare. There, I developed APIs, established HIPAA-compliant environments, and streamlined data-sharing with apps for healthcare providers. I've mostly worked with Blueshield of California on their internal services and tooling.</p>

    <p class="">Looking for solutions or simply a chat about tech? <a href="mailto:svlada@gmail.com" target="_blank">Let's connect</a></p>
    
    <p>
      <a href="https://github.com/svlada" target="_blank">GitHub</a>  &#8766;
      <a href="https://twitter.com/svlada" target="_blank">Twitter</a>
    </p>
    
  </article>
</section>