---
layout: layouts/home.njk
tags:
  - nav
navtitle: About
permalink: /about/
date: 2018-01-01
---


<div class="text-center hp">
  <img src="/img/avatar.new.4x6.jpg" alt="" style="border-radius: 9999px; width: 9rem; height: 9rem">

   <p><a class="purple-text" href="https://github.com/svlada" target="_blank">GitHub</a>, <a class="purple-text" href="https://www.linkedin.com/in/svlada" target="_blank">LinkedIn</a>,  <a class="purple-text" href="https://twitter.com/svlada" target="_blank">Twitter</a>, <a class="purple-text" href="mailto:svlada@gmail.com">Email</a></p>
  
</div>

<p>Hi, my name is Vlada Stankovic.</p>


<p>By day I'm an engineering manager and software engineer at <a class="purple-text font-extra-bold" href="mailto:svlada@gmail.com" target="_blank">Reflect</a>, where I build and optimize fintech software.</p>
  
<p>Previously, I worked in the healthcare - building APIs, setting up HIPAA compliant environments, and developing applications that streamline data exchange between healthcare providers.</p>

<p>
</p>

<a class="purple-text font-extra-bold" href="mailto:svlada@gmail.com" target="_blank">Let's connect</a>
 