---
layout: layouts/home.njk
tags:
  - nav
navtitle: Art
permalink: /art/
date: 2018-01-01
---

<h1>Chicken scratches</h1>
<p>
Inner mind projections through scratches created at various meetings. These fragile pieces of art are currently undergoing through a delicate process of restoration and scanning.
</p>

<p>
<img src="/img/home/CC250F4C-3CB7-4869-B80D-D579A893E2AE_1_105_c.jpeg" />
</p>

<p>
<img src="/img/home/0C2556FD-4CAF-4605-B962-3ED76B825BD5_1_105_c.jpeg" />
</p>