---
layout: layouts/home.njk
tags:
  - nav
navtitle: Art
permalink: /art/
date: 2018-01-01
---

<h1>Art</h1>
<p>
Inner mind projections through scratches created on various meetings.

These fragile pieces of art are currently undergoing through delicate process of restoration and scanning.
</p


 