---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
date: 2020-01-01
---

<h4>&#9782; Essence</h4>
<p>I'm <a href="https://twitter.com/svlada" target="_blank">@svlada</a>, an software engineer, passionate about nature and &#127795;&#127795;&#127795;.</p>
<p><code>Time gained now is time lost later</code>><code>Technical debt can never be settled</code></p> 
<p><i>If he ignores the debt it poisons him, and if he tries to make payments the debt only increases, and the quality of his gift is the measure of the man. - John Stenbeck.</i></p>

<h4> Skills</h4>
<p>-<code>Kotlin</code>, <code>Java</code>, <code>Elixir</code>, <code>Vortex</code></p>
<p>-<code>Simple, intention revealing, clean code</code></p> 
<p>-<code>Distributed systems</code></p>
<p>-<code>HIPAA</code>, <code>HL7</code>, <code>FHIR</code></p>

<h4>&#9866; In focus</h4>

<p>Researching soft real-time systems using <code>Elixir</code> and <code>OTP</code>.<p>

<h4>Social media</h4>
<div class="social">
  <p>
    <a href="https://github.com/svlada" target="_blank">GitHub</a> |
    <a href="https://www.linkedin.com/in/svlada" target="_blank">LinkedIn</a> |
    <a href="https://twitter.com/svlada" target="_blank">Twitter</a> |
    <a href="https://t.me/hawkweed" target="_blank">Telegram</a> |
    <a href="https://keybase.io/svlada" target="_blank">Keybase</a>
  </p>
</div>
