---
layout: layouts/home.njk
tags:
  - nav
navtitle: "Blog"
date: 2020-01-01
---
{% set postslist = collections.posts %}

<ul class="post-list">
{% for post in postslist | reverse %}
  {% if post.data.title != "draft" %}
  <li>
    <div class="post-header">
      <h2 class="post-title">
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </h2>
      <time class="post-date" datetime="{{ post.data.date | htmlDateString }}">{{ post.data.date | readableDate }}</time>
    </div>
    {% if post.data.description %}
    <p class="post-description">{{ post.data.description }}</p>
    {% endif %}
  </li>
  {% endif %}
{% endfor %}
</ul>

