<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ renderData.title or title or metadata.title }}">
  <meta property="og:site_name" content="Freelance Software Developer">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <meta name="description" content="{{ renderData.description or description or metadata.description }}">
  <meta name="author" content="Vlada Stankovic">

  <link rel="stylesheet" href="{{ '/css/prism-base16-ateliersulphurpool.light.css' | url }}?v=1.0.2">

  <!-- <link rel="stylesheet" href="{{ '/css/index.css' | url }}?v=1.8.8"> -->
  
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>  
  <style>
    h1, h2, h3, h4, h5 { color: rgb(32, 31, 45); }
    html { background-color: rgb(250, 250, 250); }
    .direct-link { display: none; }
  </style>
  <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">

  <script type="application/ld+json">
  {
      "@context": "http://schema.org/",
      "@type": "Person",
      "name": "Vladimir Stankovic",
      "alternateName": "Vlada, Svlada",
      "url": "https://www.svlada.com",
      "image": "",
      "sameAs": [
          "https://github.com/svlada",
          "https://twitter.com/svlada",
          "https://www.linkedin.com/in/svlada",
          "https://news.ycombinator.com/user?id=hawkweed"=
      ]
  }
  </script>
</head>

<body class="w-100 sans-serif center mw7 bg-washed-gray black">
  <header>
    <nav class="pt4 pl4 pr4 pb0 ">
      <a class="link b f5 f5-ns dib mr3" href="/" title="Vladimir Stankovic">~</a>
      <a class="link f5 f5-ns dib mr3" href="/about" title="About">About</a>
    </nav>
  </header>
  <main class="">
    {{ content | safe }}
  </main>
</body>

<script data-goatcounter="https://svlada.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</html>

