<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ renderData.title or title or metadata.title }}">
  <meta property="og:site_name" content="Freelance Software Developer">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <meta name="description" content="{{ renderData.description or description or metadata.description }}">
  <meta name="author" content="Vlada Stankovic">

  <link rel="stylesheet" href="{{ '/css/svlada.css' | url }}?v=1.0.0">
  <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">

  <script type="application/ld+json">
  {
      "@context": "http://schema.org/",
      "@type": "Person",
      "name": "Vladimir Stankovic",
      "alternateName": "Vlada, Svlada",
      "url": "https://www.svlada.com",
      "image": "",
      "sameAs": [
          "https://github.com/svlada",
          "https://twitter.com/svlada",
          "https://www.linkedin.com/in/svlada",
          "https://news.ycombinator.com/user?id=hawkweed"=
      ]
  }
  </script>
</head>

<body>
  <header>
    <a href="/" class="site-title">@svlada</a>
    <nav>
      <a href="/">posts</a>
      <a href="/about">about</a>
      <a href="{{ metadata.feed.path | url }}">rss</a>
    </nav>
  </header>

  <main>
    {{ content | safe }}
  </main>

<!-- No JavaScript needed for this minimal theme -->

<script data-goatcounter="https://svlada.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>
</html>

