---
layout: layouts/base.njk
templateClass: tmpl-post
---
<article>
    <h1>{{ title }}</h1>
    <div class="post-meta">
        <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
    </div>

    {{ content | safe }}

    {% if tags and tags.length > 0 %}
    <div class="tags">
        {% for tag in tags %}
            {% if tag != "posts" %}
            <a href="/tags/{{ tag | slug }}/" class="tag">{{ tag }}</a>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</article>

<a href="/" class="back-link">← Back to posts</a>

<div id="disqus_thread" style="margin-top: 4rem;"></div>
<script>
(function() {
var d = document, s = d.createElement('script');
s.src = 'https://svlada.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
